* {
  box-sizing: border-box;
}

.cf() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
}

html, body, #app {height: 100%;}

body {
  margin: 0;
  font-family: Merriweather, sans-serif;
  color: #545252;
  line-height: 1.8;
  // line-height: (5px * 5);
  // @media (min-width: 500px) {
  //   line-height: 5vw;
  // }
  // @media (min-width: 950px) {
  //   line-height: (9.5px * 5);
  // }
}

*[hidden] {
  display: none !important;
}

@import '../node_modules/react-markdocs/src/markdocs';

button,
.btn {
  font-family: inherit;
  border: none;
  padding: 10px 20px;
  background: #69A0FC;
  color: white;
  border-radius: 3px;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 2px 0px darken(#69A0FC, 10%);
}

label {
  color: #999;
  display: block;
  margin-bottom: 5px;
}

input {
  font-size: inherit;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-top: 5px;
  padding: 5px;
}

/*********************************************************
* Color demo
*/

.container {
  height: 100%;
  display: flex;
  pre[class*=language-] {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  pre[class*=language-]+pre[class*=language-]{
    margin-top: 20px;
  }
  > div {
    height: 100%;
    overflow-y: auto;
  }
  > .preview {
    flex-grow: 1;
  }
}

/*********************************************************
* Download footer
*/
.download {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #69A0FC;
  height: 60px;
  padding: 5px;
  flex-shrink: 0;
  font-weight: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    flex-grow: 1;
  }
  a:not(.btn) {
    color: inherit;
    &:hover {
      color: #FFB400;
    }
  }
  .btn {
    font-size: 14px;
    background: white;
    color: #69A0FC;
  }
}


/*********************************************************
* Sidebar
*/

.sidebar {
  padding: 30px;
  width: 500px;
  flex-shrink: 0;
  line-height: 1.5;
}
.color-wrapper {
  margin-right: -2%;
  .cf;
}
.color {
  float: left;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 20px;
  input {
    width: 100%;
  }
}


/*********************************************************
* Preview
*/
.color-demo {
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  border-radius: 3px;
  position: relative;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/*********************************************************
* Typeset
*/


/* Small caps */
.small-caps {font-family: Merriweather, serif}

/* Double quote (") marks */
.pull-double{margin-left:-.6em}
.push-double{margin-right:.38em}

/* Single quote (') marks */
.pull-single{margin-left:-.15em}
.push-single{margin-right:.15em}

/* Optical margin alignment for particular letters */
.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.14em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.14em}

.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}

.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}

