@bodyColor: #545252;
@btnColor: #69A0FC;
@sidebarBg: #282A36;
@sidebarWidth: 520px;

@import './lib/normalize';
@import './less/prism';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: Merriweather, sans-serif;
  color: @bodyColor;
  line-height: 1.8;
}

.cf() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

*[hidden] {
  display: none !important;
}


button,
.btn {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border: none;
  padding: 10px 20px;
  background: @btnColor;
  color: white;
  border-radius: 3px;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 2px 0px darken(@btnColor, 10%);
  &:hover {
    background: lighten(@btnColor, 5%);
  }
}

:not(pre) > code {
  background: @inlineCodeBackground;
  color: @inlineCodeColor;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8em;
  padding: .1em .3em;
  border-radius: .3em;
}

a {
  background: #FFFAEB;
  border-bottom: 1px solid #FFCD36;
  text-decoration: none;
  color: black;
  padding: 5px 0;
  &:hover {
    background: #FFE69C;
  }
}


/*********************************************************
* Color demo
*/

.container {
  height: 100%;
  display: flex;
  pre[class*=language-] {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  pre[class*=language-]+pre[class*=language-]{
    margin-top: 20px;
  }
  > div {
    height: 100%;
    overflow-y: auto;
  }
  > .preview {
    flex-grow: 1;
  }
}

/*********************************************************
* Download
*/

.download {
  position: fixed;
  bottom: -70px;
  height: 68px;
  left: @sidebarWidth;
  right: 0;
  z-index: 1000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: fade(white, 75%);
  transition: all 0.2s ease-in-out;

  &.download-on {
    bottom: 0;
  }
}

// Thanks @flukeout!
.shake {
  -webkit-animation: shake .1s 5;
  -moz-animation: shake .1s 5;
}
@-webkit-keyframes shake {
  0%   { -webkit-transform: translateX(0); }
  25% {  -webkit-transform: translateX(-5px); }
  50% {  -webkit-transform: translateX(0); }
  75% {  -webkit-transform: translateX(5px); }
}
@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}


/*********************************************************
* Sidebar
*/

.sidebar {
  position: relative;
  width: @sidebarWidth;
  flex-shrink: 0;
  line-height: 1.5;
  background: @sidebarBg;
  height: 100%;
  overflow: hidden;

  .color-wrapper {
    height: 100%;
    padding: 20px 30px 40px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  h3 {
    color: fade(white, 80%);
    font-weight: 400;
  }

  input {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: inherit;
    border: none;
    background: darken(@sidebarBg, 3%);
    color: white;
    border-radius: 3px;
    margin-top: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      background: white;
      color: @sidebarBg;
    }
  }

  code {
    background: none;
    padding: 0;
    color: fade(white, 80%);
  }
}

.form-group {
  .cf;
  margin-right: -5%;
}
.color {
  float: left;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 30px;
  input {
    width: 100%;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.color-demo {
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  border-radius: 3px;
  position: relative;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


/*********************************************************
* Preview
*/

.preview {
  position: relative;
  padding: 40px 30px 60px 80px;
  h1, h2, h3, h4, p {
    max-width: 600px;
    margin-top: 20px 0;
  }

  h1, h2 {
    line-height: 1.3;
  }

  h2 {
    margin-top: 60px;
    font-size: 28px;
  }

  h3 {
    font-weight: normal;
    color: #999;
  }

  p {
  line-height: 1.9;
  }

}
